@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    transition: 0.5s;
    width: auto;
    height: 105px;
    z-index: 10;
    position: sticky;
    top: 0%;
    content: "";
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);

}

.menu { 
    
    width: auto;
    height: 40px;
    position: fixed;
    top: 10px; right: 20px;
    right: 4px;
    z-index: 11;
    display: none;

}

.ham {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 15;

}


.logo {
    width: 225px;
    margin-left: 40px;

}

.navlist {
    width: 300px;
    height: 100px;
    transition: 0.5s;
    display: flex;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;

}

.navlist ul {
    list-style: none;
    display: flex;
    font-size: 25px;
    align-items: center;
    text-align: center;
}

.navlist ul li a {
    text-decoration: none;
    list-style: none;
    color: #111;
    padding-right: 16px;
    letter-spacing: 0.03em;
}
.navlist ul li a:hover {
   font-weight: bold;
}
.navlist ul li a:active{
    font-weight: bold;
 }

.navlist ul li a::before {
    content: '';
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 2px;
    background: rgb(31, 202, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.navlist ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    
}

.btn {
    width: 300px;
    height: 60px;
    color: white;
    background-color: transparent;
    padding: 8px;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;
    text-align: center;
}

.btn:hover {

    background-color: white;
    color: rgb(0, 195, 255);
    border: 2px solid transparent;

}
.homeImage{
    width: auto;
    height: 80vh;
    background-image:  radial-gradient(circle at left, rgb(31, 202, 255), transparent),url(Image/p9.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-text{
    width: 20vw;
    height: 20vh;
    font-size: 28px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 100px 80px;
}
.container{
    width: auto;
    height: 400px;
    display: flex;
}
.container .box1{
    width: 50vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-image:  radial-gradient(circle at left, rgb(31, 202, 255), transparent),url(Image/p7.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.container .box2{
    width: 50vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-image:  radial-gradient(circle at left, rgb(31, 202, 255), transparent),url(Image/p6.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.container .box-text{
    width: 25vw;
    height: 100px;
    margin: auto;
    
}
.btn2{
    width: 230px;
    height: 60px;
    background-color: transparent;
    margin: auto;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 23px;
    text-align: center;
    justify-content: center;
}

.btn2:hover{
    background-color: white;
    color: rgb(31, 202, 250);
    border: 1px solid transparent;
    
}
/* footer */
.footer {
    width: auto;
    height: 500px;
    background-color: #333;
    display: flex;
    overflow: hidden;
    

}

.footer-box1 {
    width: 30vw;
    height: 350px;
    color: white;
    line-height: 36px;
    font-size: 24px;
    margin: 100px;
}

.footer-box1 i {
    width: 40px;
    height: 48px;
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    background-color: rgba(255, 255, 255, 0.455);
}

.footer-box1 i:hover {

    background-color: rgba(255, 255, 255, 0.859);
}

.footer-box2 {
    width: 70vw;
    height: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    margin: 100px 40px;
    font-size: 25px;
    line-height: 50px;
    word-spacing: 8px;
}

.footer-box2 .foo {
    width: 170px;
    height: auto;

}

footer {
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.573);
    background-color: #111;
    
}

@media screen and (max-width: 1030px) {

    .navlist {
        margin-right: 200px;

    }
   

    
    .footer {
        height: 600px;

    }

    .footer-box1 {
        width: 24vw;
    }
}

@media screen and (max-width: 800px) {
    
    #no-btn {
        display: none;
    }
    .home-text{
       
        padding: 0px;
    }
    .container{
        width: auto;
        height: 600px;
        flex-direction: column;
       

    }
    .container .box-text{
        width: auto;
       
        
    }

    .container .box1{
        width: auto;
        height: 300px;
        overflow: hidden;
        flex-direction: column;
      
    }
    .container .box2{
        width: auto;
        height: 300px;
        flex-direction: column;
        overflow: hidden;
       
    }

    .btn2{
        width: auto;
       
    }
    
    .footer {
        height: 700px;
        flex-direction: column;
        flex-flow: column;

    }

    .footer-box1 {
        width: 70vw;
        height: 350px;

        line-height: 24px;
        font-size: 24px;
        margin: 100px;
    }

    .footer-box2 {
        width: auto;
        height: 350px;
        padding: 60px;
        margin: 0px 0px;
        font-size: 22px;
        line-height: 30px;
        word-spacing: 4px;
    }
}
@media screen and (max-width: 560px) {

    /* set Menu */
    .nav {
       flex-direction: column;
        height: 400px;
    
    }
    .navlist{
        width: auto;
        margin: 0px;
       

    }
    .h-nav{
        width: auto;
        height: 60px;
        background-color: rgb(31, 203, 255);
    }
    .v-class{
        opacity: 0;
        display: none;
        transition: 0.5s;
    }
    .menu{
        display: block;

    }

    .navlist ul {
        flex-direction: column;
        margin: auto;
        transition: 0.5s;

    }

    .navlist ul li {
        padding: 8px;
    }

    
    .footer {
        height: 1200px;
    }

    .footer-box2 {
        flex-direction: column;
        font-size: 22px;

    }

    /* end menu */
}
