@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
}
#loading {
    height: 100vh;
    position: fixed;
    display: block; 
    z-index: 99
}

#loading-image{
   width: 100vw;
   height: 60vh;
    mix-blend-mode: multiply;
    margin: auto;
    z-index: 100;
}
#main{
    opacity: 0;
     width: 100vw;
    height: 100vh;
   
} 

.nav {
    display: flex;
    align-items: center;
    transition: 0.5s;
    width: auto;
    height: 105px;
    z-index: 10;
    position: sticky;
    top: 0%;
    content: "";
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);

}

.menu { 
    
    width: auto;
    height: 40px;
    position: fixed;
    top: 10px; right: 20px;
    right: 4px;
    z-index: 11;
    display: none;

}

.ham {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 15;

}


.logo {
    width: 225px;
    margin-left: 40px;

}

.navlist {
    width: 300px;
    height: 100px;
    transition: 0.5s;
    display: flex;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;

}

.navlist ul {
    list-style: none;
    display: flex;
    font-size: 25px;
    align-items: center;
    text-align: center;
}

.navlist ul li a {
    text-decoration: none;
    list-style: none;
    color: #111;
    padding-right: 16px;
    letter-spacing: 0.03em;
}
.navlist ul li a:hover {
   font-weight: bold;
}

.navlist ul li a::before {
    content: '';
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 2px;
    background: rgb(31, 202, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.navlist ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    
}

.btn {
    width: 240px;
    height: 43px;
    display: flex;
    padding: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 22px;
    background-color: rgb(31, 202, 255);
    border-radius: 8px;
    border: 1px solid rgb(31, 202, 250);
}

.btn:hover {

    background-color: transparent;
    color: rgb(31, 202, 250);
    border: 1px solid rgb(31, 202, 250);
}

.homeImage {
    width: auto;
    height: 900px;
    background-image: url(Image/doctor6.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-text {
    width: 49vw;
    height: 50vh;
    font-size: 30px;
    align-items: center;
    padding: 200px 80px;

}

.thinertext {
    font-weight: 250;
    color: #333;
}

.service {
    width: auto;
    height: 450px;
    display: flex;
    color: white;
    

}

.service .servicebox1 {
    width: 33vw;
    height: 300px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 16px 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: rgba(31, 203, 255, 0.696);
}

.service .servicebox2 {
    width: 33vw;
    height: 300px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    padding: 10px 16px 0px;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: rgb(31, 203, 255);
}

.serviceBtn {
    width: 300px;
    height: 60px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;
    text-align: center;

}

.serviceBtn:hover {
    background-color: white;
    color: rgb(0, 195, 255);
    border: 2px solid transparent;

}

.docmed {
    width: auto;
    height: 700px;
    display: flex;
    overflow: hidden;
}

.doubleImg {
    width: 50vw;
}

.imgbox1 {
    width: 350px;
    height: 460px;
    margin-top: 50px;
    background-image: url(Image/doc3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    left: 210px;
    z-index: 1;
}

.imgbox2 {
    width: 300px;
    height: 400px;
    background-image: url(Image/doc1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    left: 60px;
    z-index: -1;
}

.doc-text {
    width: 50vw;
    height: 500px;
    align-items: center;
    font-size: 22px;
    padding: 0px 120px;
}

.doc-text li {
    list-style: none;
    text-decoration: none;
    line-height: 30px;

}

.color-line {
    width: 50px;
    height: 3px;
    background-color: rgb(0, 195, 255);
}

.color-line2 {
    margin: auto;
    width: 100px;
    height: 3px;
    background-color: rgb(0, 195, 255);

}

.btn2 {
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 100px;
    font-family: 'Lato', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: rgb(31, 202, 250);
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgb(31, 202, 250);
}

.btn2:hover {
    color: white;
    background-color: rgb(31, 202, 250);

}

/* Deparment */
.homeDeparment {
    width: auto;
    height: 1290px;
    background-color: rgb(235, 245, 250);
    
}

.uper-text {
    margin: auto;
    width: 600px;
    height: 180px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-box {
    width: auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 360px;
    height: 450px;
    margin: 20px;
    border-radius: 5px;
    font-size: 22px;
    line-height: 30px;
    box-shadow: 5px 5px 20px -10px;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.line-hover:hover {
    color: rgb(31, 202, 250);
    text-decoration: underline;
    cursor: pointer;

}

.box img {
    border-radius: 5px;
    transition: 1s;

}

.box:hover img {
    transition: 1s;
    border-radius: 5px;
    transform: scale(1.08);

}

/* new section */
.compney-viwes {
    width: auto;
    height: 700px;
    background: url(Image/p12.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    font-size: 25px;
    background-position: center;
    background-size: cover;
    

}

.co-text {
    width: auto;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

/* Content */

.content-text {
    width: auto;
    height: 500px;
    padding: 50px;
    display: flex;
    
}

.content-text .content-icon {
    width: 50vw;
    height: 450px;
    line-height: 28px;
    padding-top: 40px;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    justify-content: center;
}

.content-text .content-image {
    width: 50vw;
    height: 450px;
    display: flex;
    background-image: url(Image/p5.jpg);
    background-size: cover;
    background-position: center;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(31, 202, 250);
    color: white;
}

/* Expert- Doctors */

.expert-doctor {
    width: auto;
    height: 600px;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    

}

.expert-doctor h1 {
    margin-left: 20px;

}

.doc-container {
    width: auto;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.doc-box {
    width: 260px;
    height: 370px;
    margin: 25px;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(180, 231, 255, 0.914);
}

.doc-box:hover {
    transition: 0.2s;
    background-color: rgb(76, 191, 245);
}

.doc-box img {
    width: 280px;
    height: 300px;
    transition: 0.5s;


}
.doc-box:hover img {
   transform: scale(1.08);
   transform: 0.6s;

}

/* footer */

.footer {
    width: auto;
    height: 500px;
    background-color: #333;
    display: flex;
    overflow: hidden;
    

}

.footer-box1 {
    width: 35vw;
    height: 350px;
    color: white;
    line-height: 36px;
    font-size: 24px;
    margin: 100px;
}

.footer-box1 i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
   
}

.footer-box1 i:hover {
    transition: 0.6s;
    padding: 18px;
    background-color: rgba(3, 181, 240, 0.275);
}

.footer-box2 {
    width: 70vw;
    height: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    margin: 100px 40px;
    font-size: 25px;
    line-height: 50px;
    word-spacing: 8px;
}

.footer-box2 .foo {
    width: 170px;
    height: auto;

}

footer {
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.573);
    background-color: #111;
    
}

@media screen and (max-width: 1030px) {
    .navlist {
        margin-right: 200px;

    }


    .service .servicebox1 {
        width: 33vw;
        height: 330px;
        font-size: 20px;

    }

    .service .servicebox2 {
        width: 33vw;
        height: 330px;
        font-size: 20px;

    }

    .serviceBtn {
        width: 200px;
        height: 50px;
        margin-top: 25px;
        font-size: 20px;

    }

    .imgbox1 {
        width: 250px;
        height: 460px;
        margin-top: 50px;
        left: 200px;

    }

    .imgbox2 {
        width: 300px;
        height: 400px;
        left: 40px;

    }

    .homeDeparment {
        height: 1800px;

    }

    .expert-doctor {
        height: 700px;

    }

    .footer {
        height: 600px;

    }

    .footer-box1 {
        width: 24vw;
    }

}

@media screen and (max-width: 800px) {

    #no-btn {
        display: none;
    }

    .home-text {
        padding: 160px 50px;

    }

    .docmed {
        width: auto;
        height: 1200px;
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }

    .doubleImg {
        width: auto;
        height: 400px;
    }

    .imgbox1 {
        width: 45vw;
        height: 75vh;
        margin-top: 50px;
        left: 300px;

    }

    .imgbox2 {
        width: 46vw;
        height: 72vh;
        left: 70px;

    }

    .doc-text {
        width: auto;
        height: 500px;
        padding: 20px 20px;
        z-index: 8;
    }

    .content-box {
        height: 1000px;

    }

    .box {
        width: 300px;
        height: 450px;
        margin: 30px;
        font-size: 20px;

    }

    .footer {
        height: 700px;
        flex-direction: column;
        flex-flow: column;

    }

    .footer-box1 {
        width: 80vw;
        height: 350px;
        line-height: 24px;
        font-size: 18px;
        margin: 30px;
    }

    .footer-box2 {
        width: auto;
        height: 350px;
        padding: 60px;
        margin: 0px 0px;
        font-size: 22px;
        line-height: 30px;
        word-spacing: 4px;
    }


}

@media screen and (max-width: 560px) {

    /* set Menu */
    .nav {
       flex-direction: column;
        height: 400px;
    
    }
    .navlist{
        width: auto;
        margin: 0px;
       

    }
    .h-nav{
        width: auto;
        height: 60px;
        background-color: rgb(31, 203, 255);
    }
    .v-class{
        opacity: 0;
        display: none;
        transition: 0.5s;
    }
    .menu{
        display: block;

    }

    .navlist ul {
        flex-direction: column;
        margin: auto;
        transition: 0.5s;

    }

    .navlist ul li {
        padding: 8px;
    }



    /* end menu */
    .home-text {
        padding: 30px 10px;
        width: auto;
        height: 500px;
        font-size: 18px;

    }

    .homeImage {
        height: 600px;
        object-fit: cover;

    }

    .doubleImg {
        width: auto;
        height: 450px;
    }

    .imgbox1 {
        width: 45vw;
        height: 75vh;
        margin-top: 50px;
        left: 100px;

    }

    .imgbox2 {
        width: 46vw;
        height: 72vh;
        left: 10px;

    }


    .uper-text {
        margin: auto;
        width: auto;
        height: 180px;
        font-size: 22px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .service {
        height: 1000px;
        flex-direction: column;

    }

    .service .servicebox1 {
        width: auto;
        height: 300px;

    }

    .service .servicebox2 {
        width: auto;
        height: 300px;


    }

    .homeDeparment {
        height: 3300px;

    }

    .content-box {
        height: 3100px;

    }

    .box {
        width: 400px;
        height: 450px;
        margin: 30px 20px;


    }

    .content-text {
        height: 900px;
        padding: 50px;
        flex-direction: column;

    }

    .content-text .content-icon {
        width: auto;
        height: 500px;
        line-height: 22px;
        padding-top: 30px;

    }

    .content-text .content-icon h2 {
        line-height: 36px;

    }

    .content-text .content-image {
        width: auto;
    }

    .expert-doctor {
        height: 1880px;

    }

    .doc-container {
        margin: auto;
        height: 1800px;

    }

    .doc-box {
        width: 280px;
        height: 370px;

    }

    .footer {
        height: 1200px;
    }

    .footer-box2 {
        flex-direction: column;
        font-size: 22px;

    }
}
